/*
0. Variables
1. Posicionamiento
2. Modelo de caja
3. Tipografía
4. Visuales
5. Otros
*/

:root {
    /* Variables de colores */
    --primary: #f7931a;
    --soft-primary: #ffe9d5;
    --secondary: #1a9af7;
    --soft-secondary: #e7f5ff;
    --warm-black: #201e1c;
    --black: #282623;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #ffffff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: "DM Sans", sans-serif;
    /* scroll-behavior: smooth; */
}


/*
 * Posicionamiento
 */

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    padding: 3.5rem 0;
    text-align: center;
    background: linear-gradient(45deg, var(--primary), var(--black));
}

header .brand {
    width: 50%;
    max-width: 20rem;
    height: auto;
    margin: auto;
}

header .hero {
    margin: 3rem 0;
    padding: 1rem;
    max-width: 90%;
    margin: auto;
    color: var(--just-white);
}

header .hero .hero--title {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.6rem;
}

header .hero .hero--text {
    font-size: 0.88rem;
    margin-top: 2rem;
}

header .hero .hero--cta {
    border-radius: 0.35rem;
    background-color: var(--off-white);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    display: block;
    white-space: nowrap;
    box-shadow: 0 0.2rem 0.5rem -0.1rem rgba(0, 0, 0, 0.2);
    font-size: 0.875rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
    display: flex;
}

header .hero .hero--cta:after {
    display: inline-block;
    content: " ";
    width: 1rem;
    height: 1rem;
    margin-left: 1rem;
    background: url(../icons/down-arrow.svg) no-repeat center;
}

main {
    background-color: var(--off-white);
    padding: 4rem 1rem 2rem 1rem;
    text-align: center;
}

main>section {
    margin: 0 -1rem;
}

#exchange-container {
    padding-bottom: 2rem;
    width: 100%;
}

#exchange-container .back-ground-img {
    height: 15rem;
    background: url(../img/bitcoin.svg) no-repeat center;
    background-size: contain;
}

.exchange-container--table {
    display: flex;
    overflow-x: scroll;
    padding: 1.5rem 0;
    justify-content: start;
    overscroll-behavior-x: scroll;
    scroll-snap-type: x proximity;
    max-width: 55rem;
    margin: auto;
}

.exchange-container--title {
    max-width: 56.25rem;
    padding: 2rem 5%;
    margin: auto;
    line-height: 1;
}

.exchange-container--text {
    font-size: 0.875rem;
    color: #747474;
    padding: 0 1rem;
}

.exchange--table {
    padding: 0 1rem;
    scroll-snap-align: center;
    min-width: 20rem;
}

.exchange--table:first-child {
    padding-left: 2rem;
}

.exchange--table:last-child {
    padding-right: 2rem;
}

.exchange--table h3 {
    color: var(--primary);
    text-align: left;
    margin-bottom: 0.5rem;
    padding-left: 0.75rem;
}

.exchange--table__blue h3 {
    color: var(--secondary);
}

.exchange--table table {
    border-radius: 0.85rem;
    background-color: var(--just-white);
    width: 100%;
    color: #747474;
    font-size: 0.875rem;
    border-collapse: collapse;
}

.exchange--table table td {
    padding: 0.5rem 0.75rem;
    text-align: left;
    border: 2px solid var(--off-white);
}

.exchange--table table tr td:first-child {
    font-weight: bold;
}

.exchange--table table tr td:last-child {
    text-align: center;
}

.exchange--table table td img {
    margin-left: 1rem;
}

.help-text {
    font-size: 0.875rem;
    color: var(--black);
    border-radius: 0.75rem;
    background-color: var(--soft-primary);
    margin-top: 1rem;
    padding: 0.5rem 0rem;
}

.exchange--table__blue .help-text {
    background-color: var(--soft-secondary);
}

.help-text strong {
    color: var(--warm-black);
    font-size: 1rem;
}

#profit-container {
    background-color: var(--warm-black);
    color: var(--off-white);
}

#profit-container:before {
    display: block;
    content: url("../icons/batata.svg");
    transform: translateY(-50%);
}

.profit--title {
    max-width: 56.25rem;
    padding: 2rem 5%;
    margin: auto;
    line-height: 1;
}

.profit--text {
    font-size: 0.875rem;
    color: #747474;
    padding: 0 1rem;
}

.profit--cards-container {
    padding: 1rem;
    display: grid;
    grid-template-columns: auto;
    gap: 1rem;
    max-width: 55rem;
    margin: auto;
}

.card {
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.05rem rgba(0, 0, 0, 0.2);
    position: relative;
}

.profit--card {
    background-color: var(--black);
    box-shadow: 0 0.125rem 0.05rem rgba(0, 0, 0, 0.2);
    text-align: left;
}

.profit--card p {
    font-size: 0.875rem;
    color: #747474;
    padding: 0.5rem 0;
}

.profit--card-icon {
    width: 2rem;
    height: 2rem;
    background: no-repeat center;
    display: block;
    margin-bottom: 0.2rem;
}

.time-icon {
    background-image: url("../icons/clock.svg");
}

.eye-icon {
    background-image: url("../icons/eye.svg");
}

.dollar-icon {
    background-image: url("../icons/dollar-sign.svg");
}

#knowit-container {
    background: var(--primary) url("../img/bitcoinbaby.jpg") no-repeat center;
    background-size: cover;
    color: var(--just-white);
    padding: 4rem 0;
    height: 50vh;
}

.plans--title {
    max-width: 56.25rem;
    padding: 2rem 5%;
    margin: auto;
    line-height: 1;
}

.plans--text {
    font-size: 0.875rem;
    color: #747474;
    padding: 0 1rem;
}

.slide-container {
    display: flex;
    overflow-x: scroll;
    padding: 1.5rem 0;
    overscroll-behavior-x: scroll;
    scroll-snap-type: x proximity;
    max-width: 55rem;
    margin: auto;
    margin-top: 2rem;
}

#plans-container .card--slide {
    background-color: var(--just-white);
    box-shadow: 0 0.15rem 0.5rem rgba(0, 0, 0, 0.15);
    padding: 2rem 1.5rem 1.5rem;
    min-width: 14rem;
    max-width: 20rem;
    min-height: 10rem;
    scroll-snap-align: center;
    margin: 0.5rem;
}

#plans-container .card--slide:first-child {
    margin-left: 1.5rem;
}

#plans-container .card--slide:last-child {
    margin-right: 1.5rem;
}

.card--slide .card--cta {
    border: 0.15rem solid var(--primary);
    border-radius: 0.35rem;
    background-color: var(--off-white);
    padding: 0.75rem;
    margin-top: 1rem;
    width: 100%;
    white-space: nowrap;
    box-shadow: 0 0.2rem 0.5rem -0.1rem rgba(0, 0, 0, 0.2);
    font-size: 0.875rem;
    justify-content: center;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
    display: flex;
}

.card--slide .card--cta:after {
    display: inline-block;
    content: " ";
    width: 1rem;
    height: 1rem;
    margin-left: 1rem;
    background: url(../icons/orange-right-arrow.svg) no-repeat center;
}

.plans-card--feature {
    display: inline-block;
    font-size: 00.88rem;
    font-weight: bold;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: var(--primary);
    color: var(--just-white);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, 50%);
    font-style: normal;
}

.card-body h3 {
    font-size: 1rem;
}

.plans--price {
    font-size: 4rem;
    font-weight: bolder;
    letter-spacing: -5px;
}

.plans--price span {
    font-size: 1rem;
    display: inline-block;
    vertical-align: text-top;
    margin-top: 1rem;
    color: var(--warm-black);
}

.plans--note {
    color: var(--grey);
    font-size: 00.85rem;
}

footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: var(--primary);
    padding: 3rem;
    font-size: 00.88rem;
    align-items: center;
}

footer>section {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer li {
    list-style: none;
    padding: 0.125rem;
}

footer a {
    font-weight: bold;
    color: var(--just-white);
    text-decoration: none;
}